<!doctype html>
<html lang="en"
ng-app="todomvc"
data-framework="angularjs">
<head>
  <meta charset="utf-8">
  <title>AngularJS • TodoMVC</title>
</head>
<body>
  <div id="todoapp" ng-controller="TodoCtrl">
  <section ng-repeat="sel in selects">
      <form>
        Table: <input type="text" name="firstname" ng-model="sel.tablename" ng-change="showScope()"><br>
        fieldnames: <textarea class="cols" ng-model="sel.fieldnames"></textarea><br>
        <select ng-model="sel.transform" ng-options="f as label for (label, f) in transforms"
        ng-init="sel.transform=transforms.none">
      </select>
    </form>
    d2: {{combine(sel.fieldnames || '')([sel.transform, prefix(sel.tablename || '')])}} <br>
  </section>
  <button ng-click="showScope()">show scope</button>
  <button ng-click="increment(selects)">New row</button> <br>
  Sel: {{selects}}

</div>

<script src="bower_components/angular/angular.js"></script>
<!-- <script src="dist/index.js"></script> -->
<script src="dist/Main.js"></script>
</body>
<style type="text/css">
  .cols {
    width: 100px;
    height: 150px;
  }
</style>
</html>
